body {
    background-color: lightblue;
    color: brown;
    text-align: center;
    margin: 15px;
    border: 15px;
}

section{
    background-color: yellow;
    color: black;
    
    margin: 35px;
    border: 35px;
    border-color: black;
    padding: 5px;
}

